venv*
.venv
.tmp/

*.Rproj
.RData
.Rhistory
R/*.html
.Rproj.user

.DS_Store
.idea/
__pycache__
*.pyc

.ipynb_checkpoints/
notebooks/Untitled*.ipynb

ray_results/
python/logs/*.txt

data/raw/v_*
data/eicu/*.csv.gz
data/eicu/*.txt
data/eicu/*.zip

data/processed/*.pkl
data/processed/*.parquet

data/processed/vitals_queried/*.parquet
data/processed/vitals_eicu/*.parquet
data/processed/vitals_eicu_unimputed/*.parquet
data/processed/vitals_processed/*.parquet
data/processed/vitals_train/*.parquet
data/processed/vitals_validate/*.parquet
data/processed/vitals_test/*.parquet

data/predictions/eicu_predictions_ml/*.parquet
data/predictions/eicu_predictions_univariate/*.parquet

data/predictions/test_predictions_univariate/*.parquet
data/predictions/test_predictions_ml/*.parquet

data/predictions/training_metrics_univariate/*.yaml
data/predictions/training_metrics_univariate/*.csv

evaluation/plots/hyperparams/*.png
evaluation/plots/performance/*
evaluation/plots/loss/*.png
evaluation/tables/*.csv
evaluation/tables/*.xlsx

python/ml/models/tuned_models/gru*
python/ml/models/tuned_models/transformer*
